.list-group-item {
	position: relative; 
}

.btn-close {
	opacity: 0; 
	position: absolute; 
	right: 0;
	top: 50%; 
	transform: translateY(-50%); 
	transition: opacity 0.3s; 
}

.list-group-item:hover .btn-close {
	opacity: 1; 
}